@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';


#foodright {
  display: block;
  position: absolute;
  top: 70px;
  left: 40%;
  right: 0;
  margin-left: auto;
  margin-right: auto;}

#foodleft {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  right: 40%;
  margin-left: auto;
  margin-right: auto;}

  #arrow{
  /*  display: inline;
    position: relative;
    top: 5px;
    left: 2px;*/
  }

  #page-right {
    cursor: pointer;
    float: right;
    position: relative;
    top: 200px;
   }

   #page-left {
     cursor: pointer;
     float: left;
     position: relative;
     top: 200px;
    }

.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.infinite{
  -webkit-animation-iteration-count: infinite;
}

#mobiletext{
  position: absolute;
 top: 15%;
left: 15%;
 margin-top: -50px;
 margin-right: 250px;
    text-align: center;
   color: white;
   font-family: Helvetica;
font-size: 3.0vh;
   font-weight: 500;
}
@media (min-width: 960px) {
#mobiletext{
  display: none;
}}

img {
    cursor: pointer;
  }


h1, p, h2{
  font-family: 'Baloo Tamma', cursive;
  text-align: center;
}

p{
  position: relative;
  top: 410px;
}

h2{
  position: relative;
  top: 460px;
}


body {
  background: #ffcf32;
   overflow-x: hidden;
   overflow-y: hidden;
}
@media (max-width: 960px) {
#app {
    display: none;
}}
